In [1]:
%load_ext autoreload
%autoreload 2


import pandas as pd

In [8]:
file = "s3://alphamatic-data/data/kibot/sp_500_1min/AAPL.csv.gz"

df = pd.read_csv(file)
df.head(5)

   01/02/1998  09:30  0.4205  0.4224  0.4205.1  0.4205.2   596200
0  01/02/1998  09:31  0.4205  0.4205    0.4186    0.4205  2064019
1  01/02/1998  09:32  0.4205  0.4205    0.4186    0.4205   942904
2  01/02/1998  09:33  0.4205  0.4205    0.4166    0.4166   648044
3  01/02/1998  09:34  0.4166  0.4205    0.4166    0.4186    87486
4  01/02/1998  09:35  0.4205  0.4205    0.4186    0.4186    93966

In [3]:
file = "s3://alphamatic-data/data/kibot/pq/sp_500_1min/AAPL.pq"

df = pd.read_parquet(file)

In [7]:
mask = (df.index >= "2019-01-01") & (df.index <= "2019-01-31")
df[mask].to_csv("aapl.csv")