# Description

This notebook provides an example of using the `gspread_pandas` library.

The library accesses google sheets and loads them into pandas dataframes.

# Imports

In [1]:
import gspread_pandas

# Testing the library

In [2]:
spread = gspread_pandas.Spread("Task 961 - RP: Ideas for signals to test")

In [3]:
spread

In [4]:
spread.sheets

[<Worksheet 'RP-themes listed in #970' id:0>,
 <Worksheet 'Macro Indicators' id:216557931>,
 <Worksheet 'Other hypotheses' id:1597619348>]

In [5]:
df = spread.sheet_to_df(index=None)
print(df.shape)
print(type(df))
df.head()

(134, 9)
<class 'pandas.core.frame.DataFrame'>

,TOPIC,GROUP,TYPE,SUB_TYPE,PRICE,VOLATILITY,COMMENT (IF ANY),CHECKED IN RP DB,# OF EVENTS
0,business,assets,commodity-assets,buy,+,,under assumption that there are only big deals...,1,7357
1,business,assets,commodity-assets,offer,?,,after checking RP headlines it seems like thes...,1,3978
2,business,assets,commodity-assets,sell,-,,under assumption that there are only big deals...,1,7945
3,business,assets,facility,close,+,,rationale: less commodities will be produced -...,1,247
4,business,assets,facility,maintenance,?,,,,2

In [6]:
assets_sample = df[df["GROUP"] == "assets"]
print(assets_sample.shape)
assets_sample.head()

(9, 9)

,TOPIC,GROUP,TYPE,SUB_TYPE,PRICE,VOLATILITY,COMMENT (IF ANY),CHECKED IN RP DB,# OF EVENTS
0,business,assets,commodity-assets,buy,+,,under assumption that there are only big deals...,1,7357
1,business,assets,commodity-assets,offer,?,,after checking RP headlines it seems like thes...,1,3978
2,business,assets,commodity-assets,sell,-,,under assumption that there are only big deals...,1,7945
3,business,assets,facility,close,+,,rationale: less commodities will be produced -...,1,247
4,business,assets,facility,maintenance,?,,,,2