Show Parquet / Pyarrow API.

## Imports

In [33]:
import logging
import os
import random

import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import pyarrow.dataset as ds
import numpy as np

import helpers.dbg as dbg

dbg.init_logger(verbosity=logging.INFO)
_LOG = logging.getLogger(__name__)

WARNING: Logger already initialized: skipping

In [6]:
def get_df() -> pd.DataFrame:
    """
    Create pandas random data, like:
    
                idx instr  val1  val2
    2000-01-01    0     A    99    30
    2000-01-02    0     A    54    46
    2000-01-03    0     A    85    86
    """
    num_rows = 100
    instruments = "A B C D E".split()
    cols = "id stock val1 val2".split()
    df_idx = pd.date_range(pd.Timestamp("2000-01-01"), pd.Timestamp("2000-01-15"), freq="1D")
    #print(df_idx)
    random.seed(1000)

    df = []
    for idx, inst in enumerate(instruments):
        df_tmp = pd.DataFrame({"idx": idx,
                               "instr": inst,
                               "val1": [random.randint(0, 100) for k in range(len(df_idx))],
                               "val2": [random.randint(0, 100) for k in range(len(df_idx))],
                              }, index=df_idx)
        #print(df_tmp)
        df.append(df_tmp)
    df = pd.concat(df)
    return df

            idx instr  val1  val2
2000-01-01    0     A    99    30
2000-01-02    0     A    54    46
2000-01-03    0     A    85    86
2000-01-04    0     A    97    62
2000-01-05    0     A    12    25

In [20]:
def df_to_str(df: pd.DataFrame) -> str:
    txt = ""
    txt += "# df=\n%s" % df.head(3)
    txt += "\n# df.shape=\n%s" % str(df.shape)
    txt += "\n# df.dtypes=\n%s" % str(df.dtypes)
    return txt

# Save and load all data in one file

In [21]:
df = get_df()
#print(df.head())
print(df_to_str(df))

# df=
            idx instr  val1  val2
2000-01-01    0     A    99    30
2000-01-02    0     A    54    46
2000-01-03    0     A    85    86
# df.shape=
(75, 4)
# df.dtypes=
idx       int64
instr    object
val1      int64
val2      int64
dtype: object

In [22]:
table = pa.Table.from_pandas(df)

print("table=\n%s" % table)

table=
pyarrow.Table
idx: int64
instr: string
val1: int64
val2: int64
__index_level_0__: timestamp[ns]

In [23]:
# Save.
file_name = "df_in_one_file.pq"
pq.write_table(table, file_name)

In [25]:
# Load.
df2 = pq.read_table(file_name)
print(df2)

df2 = df2.to_pandas()
print(df_to_str(df2))

pyarrow.Table
idx: int64
instr: string
val1: int64
val2: int64
__index_level_0__: timestamp[us]
# df=
            idx instr  val1  val2
2000-01-01    0     A    99    30
2000-01-02    0     A    54    46
2000-01-03    0     A    85    86
# df.shape=
(75, 4)
# df.dtypes=
idx       int64
instr    object
val1      int64
val2      int64
dtype: object

## Read a subset of columns

In [27]:
df2 = pq.read_table(file_name, columns=["idx", "val1"])
print(df2)

df2 = df2.to_pandas()
print(df_to_str(df2))

pyarrow.Table
idx: int64
val1: int64
# df=
   idx  val1
0    0    99
1    0    54
2    0    85
# df.shape=
(75, 2)
# df.dtypes=
idx     int64
val1    int64
dtype: object

## Partitioned dataset

from https://arrow.apache.org/docs/python/dataset.html#reading-partitioned-data

- A dataset can exploit a nested structure, where the sub-dir names hold information about which subset of the data is stored in that dir
- E.g., "Hive" patitioning scheme "key=vale" dir names

In [29]:
df = get_df()
print(df_to_str(df))

# df=
            idx instr  val1  val2
2000-01-01    0     A    99    30
2000-01-02    0     A    54    46
2000-01-03    0     A    85    86
# df.shape=
(75, 4)
# df.dtypes=
idx       int64
instr    object
val1      int64
val2      int64
dtype: object

In [30]:
base = "."
dir_name =  os.path.join(base, "parquet_dataset_partitioned")
os.system("rm -rf %s" % dir_name)

pq.write_to_dataset(table,
                    dir_name,
                    partition_cols=['idx'])

In [31]:
!ls parquet_dataset_partitioned

'idx=0'  'idx=1'  'idx=2'  'idx=3'  'idx=4'

In [34]:
# Read data back.
dataset = ds.dataset(dir_name,
                     format="parquet",
                     partitioning="hive")

print("\n".join(dataset.files))

./parquet_dataset_partitioned/idx=0/cab9de6eff0c47bcb688a1ce437c7f89.parquet
./parquet_dataset_partitioned/idx=1/56813e569097420cae892720d3bb0789.parquet
./parquet_dataset_partitioned/idx=2/5c9a17d2e1294dd58c7d8695868c2cb5.parquet
./parquet_dataset_partitioned/idx=3/b28576eb22d54999980a313a24511497.parquet
./parquet_dataset_partitioned/idx=4/8ee3f0d7585b48959a560c954562add8.parquet

In [37]:
# Read everything.
df2 = dataset.to_table().to_pandas()

print(df_to_str(df2))

# df=
           instr  val1  val2  idx
2000-01-01     A    99    30    0
2000-01-02     A    54    46    0
2000-01-03     A    85    86    0
# df.shape=
(75, 4)
# df.dtypes=
instr    object
val1      int64
val2      int64
idx       int32
dtype: object

In [40]:
# Load part of the data.

df2 = dataset.to_table(filter=ds.field("idx") == 1).to_pandas()
print(df_to_str(df2))

df2 = dataset.to_table(filter=ds.field("idx") < 3).to_pandas()
print(df_to_str(df2))

# df=
           instr  val1  val2  idx
2000-01-01     B    18    22    1
2000-01-02     B    59    89    1
2000-01-03     B    91    90    1
# df.shape=
(15, 4)
# df.dtypes=
instr    object
val1      int64
val2      int64
idx       int32
dtype: object
# df=
           instr  val1  val2  idx
2000-01-01     A    99    30    0
2000-01-02     A    54    46    0
2000-01-03     A    85    86    0
# df.shape=
(45, 4)
# df.dtypes=
instr    object
val1      int64
val2      int64
idx       int32
dtype: object

In [101]:
df["year"] = df.index.year
df["month"] = df.index.month

df.head()

            idx instr  val1  val2  year  month  day
2000-01-01    0     A    99    30  2000      1    1
2000-01-02    0     A    54    46  2000      1    2
2000-01-03    0     A    85    86  2000      1    3
2000-01-04    0     A    97    62  2000      1    4
2000-01-05    0     A    12    25  2000      1    5

In [99]:
table.schema

idx: int64
instr: string
val1: int64
val2: int64
__index_level_0__: timestamp[ns]
-- schema metadata --
pandas: '{"index_columns": ["__index_level_0__"], "column_indexes": [{"na' + 763

In [102]:
base = "."
dir_name =  os.path.join(base, "parquet_dataset_partitioned3")
os.system("rm -rf %s" % dir_name)

pq.write_to_dataset(table,
                    dir_name,
                    partition_cols=['idx', "year", "month"])

In [107]:
!ls $dir_name/idx=0/year=2000/month=1

20dffe263b5e482fb4e27864ca754aaa.parquet

In [108]:
# Read data back.
dataset = ds.dataset(dir_name,
                     format="parquet",
                     partitioning="hive")

print("\n".join(dataset.files))

./parquet_dataset_partitioned3/idx=0/year=2000/month=1/20dffe263b5e482fb4e27864ca754aaa.parquet
./parquet_dataset_partitioned3/idx=1/year=2000/month=1/4261c82e807b42bc83df4842e23860c5.parquet
./parquet_dataset_partitioned3/idx=2/year=2000/month=1/07677628890941b68a08a2e01bd10277.parquet
./parquet_dataset_partitioned3/idx=3/year=2000/month=1/dd8afaa3561e4b10b2adf47f6939d994.parquet
./parquet_dataset_partitioned3/idx=4/year=2000/month=1/63e2129268fa4217b4c69b0355f68d77.parquet

## Partition manually

In [118]:
from pyarrow.dataset import DirectoryPartitioning

partitioning = DirectoryPartitioning(pa.schema([("year", pa.int16()), ("month", pa.int8()), ("day", pa.int8())]))
print(partitioning.parse("/2009/11/3"))

#partitioning.discover()

(((year == 2009) and (month == 11)) and (day == 3))

ValueError: Neither field_names nor schema was passed; cannot infer field_names

## Read subset of columns for everything

In [114]:
# Read data back.
dataset = ds.dataset(dir_name,
                     format="parquet",
                     partitioning="hive")

print("\n".join(dataset.files))

dataset.to_table(filter=ds.field('idx') == 2).to_pandas()

./parquet_dataset_partitioned3/idx=0/year=2000/month=1/20dffe263b5e482fb4e27864ca754aaa.parquet
./parquet_dataset_partitioned3/idx=1/year=2000/month=1/4261c82e807b42bc83df4842e23860c5.parquet
./parquet_dataset_partitioned3/idx=2/year=2000/month=1/07677628890941b68a08a2e01bd10277.parquet
./parquet_dataset_partitioned3/idx=3/year=2000/month=1/dd8afaa3561e4b10b2adf47f6939d994.parquet
./parquet_dataset_partitioned3/idx=4/year=2000/month=1/63e2129268fa4217b4c69b0355f68d77.parquet

           instr  val1  val2  idx  year  month
2000-01-01     C    99    37    2  2000      1
2000-01-02     C    98    48    2  2000      1
2000-01-03     C    70    58    2  2000      1
2000-01-04     C    15    46    2  2000      1
2000-01-05     C    24    62    2  2000      1
2000-01-06     C    37    76    2  2000      1
2000-01-07     C    48    35    2  2000      1
2000-01-08     C    40    60    2  2000      1
2000-01-09     C    84    42    2  2000      1
2000-01-10     C    29     1    2  2000      1
2000-01-11     C    29     6    2  2000      1
2000-01-12     C    45    18    2  2000      1
2000-01-13     C    79    57    2  2000      1
2000-01-14     C    62    83    2  2000      1
2000-01-15     C    15    91    2  2000      1

## Read everything

In [78]:
# Read only one column.

df2 = pq.read_table("example.pq", columns=["idx", "val1"])
print(df2)

df2 = df2.to_pandas()
print(df2)

pyarrow.Table
idx: int64
val1: int64
    idx  val1
0     0    99
1     0    54
2     0    85
3     0    97
4     0    12
..  ...   ...
70    4    59
71    4    48
72    4    50
73    4    66
74    4     3

[75 rows x 2 columns]

In [83]:
print(pa)

<module 'pyarrow' from '/venv/lib/python3.8/site-packages/pyarrow/__init__.py'>

In [81]:
# We could scan manually and create the dirs manually if we don't want to add
# add a new dir.
base = "."
dir_name =  os.path.join(base, "parquet_dataset_partitioned2")
os.system("rm -rf %s" % dir_name)

grouped = df.groupby(lambda x: x.day)
for day, df_tmp in grouped:
    print(day, df_tmp)
    grouped2 = df_tmp.groupby("idx")
    for id_, df_tmp2 in grouped2:
        print(day, id_, df_tmp2)

1             idx instr  val1  val2
2000-01-01    0     A    99    30
2000-01-01    1     B    18    22
2000-01-01    2     C    99    37
2000-01-01    3     D     9    97
2000-01-01    4     E    41    38
1 0             idx instr  val1  val2
2000-01-01    0     A    99    30
1 1             idx instr  val1  val2
2000-01-01    1     B    18    22
1 2             idx instr  val1  val2
2000-01-01    2     C    99    37
1 3             idx instr  val1  val2
2000-01-01    3     D     9    97
1 4             idx instr  val1  val2
2000-01-01    4     E    41    38
2             idx instr  val1  val2
2000-01-02    0     A    54    46
2000-01-02    1     B    59    89
2000-01-02    2     C    98    48
2000-01-02    3     D    29    97
2000-01-02    4     E     0     6
2 0             idx instr  val1  val2
2000-01-02    0     A    54    46
2 1             idx instr  val1  val2
2000-01-02    1     B    59    89
2 2             idx instr  val1  val2
2000-01-02    2     C    98    48
2 3             idx instr  val1  val2
2000-01-02    3     D    29    97
2 4             idx instr  val1  val2
2000-01-02    4     E     0     6
3             idx instr  val1  val2
2000-01-03    0     A    85    86
2000-01-03    1     B    91    90
2000-01-03    2     C    70    58
2000-01-03    3     D    37    88
2000-01-03    4     E    71     5
3 0             idx instr  val1  val2
2000-01-03    0     A    85    86
3 1             idx instr  val1  val2
2000-01-03    1     B    91    90
3 2             idx instr  val1  val2
2000-01-03    2     C    70    58
3 3             idx instr  val1  val2
2000-01-03    3     D    37    88
3 4             idx instr  val1  val2
2000-01-03    4     E    71     5
4             idx instr  val1  val2
2000-01-04    0     A    97    62
2000-01-04    1     B    90    13
2000-01-04    2     C    15    46
2000-01-04    3     D     3    61
2000-01-04    4     E    75    25
4 0             idx instr  val1  val2
2000-01-04    0     A    97    62
4 1             idx instr  val1  val2
2000-01-04    1     B    90    13
4 2             idx instr  val1  val2
2000-01-04    2     C    15    46
4 3             idx instr  val1  val2
2000-01-04    3     D     3    61
4 4             idx instr  val1  val2
2000-01-04    4     E    75    25
5             idx instr  val1  val2
2000-01-05    0     A    12    25
2000-01-05    1     B    53    32
2000-01-05    2     C    24    62
2000-01-05    3     D    47    87
2000-01-05    4     E    90    25
5 0             idx instr  val1  val2
2000-01-05    0     A    12    25
5 1             idx instr  val1  val2
2000-01-05    1     B    53    32
5 2             idx instr  val1  val2
2000-01-05    2     C    24    62
5 3             idx instr  val1  val2
2000-01-05    3     D    47    87
5 4             idx instr  val1  val2
2000-01-05    4     E    90    25
6             idx instr  val1  val2
2000-01-06    0     A    50    87
2000-01-06    1     B    88    20
2000-01-06    2     C    37    76
2000-01-06    3     D    16    25
2000-01-06    4     E    21    13
6 0             idx instr  val1  val2
2000-01-06    0     A    50    87
6 1             idx instr  val1  val2
2000-01-06    1     B    88    20
6 2             idx instr  val1  val2
2000-01-06    2     C    37    76
6 3             idx instr  val1  val2
2000-01-06    3     D    16    25
6 4             idx instr  val1  val2
2000-01-06    4     E    21    13
7             idx instr  val1  val2
2000-01-07    0     A    45    85
2000-01-07    1     B    25    36
2000-01-07    2     C    48    35
2000-01-07    3     D    26    51
2000-01-07    4     E    12    43
7 0             idx instr  val1  val2
2000-01-07    0     A    45    85
7 1             idx instr  val1  val2
2000-01-07    1     B    25    36
7 2             idx instr  val1  val2
2000-01-07    2     C    48    35
7 3             idx instr  val1  val2
2000-01-07    3     D    26    51
7 4             idx instr  val1  val2
2000-01-07    4     E    12    43
8             idx instr  val1  val2
2000-01-08    0     A     8    46
2000-01-08    1     B     2    11
2000-01-08    2     C    40    60
2000-01-08    3     D    17    96
2000-01-08    4     E    62    25
8 0             idx instr  val1  val2
2000-01-08    0     A     8    46
8 1             idx instr  val1  val2
2000-01-08    1     B     2    11
8 2             idx instr  val1  val2
2000-01-08    2     C    40    60
8 3             idx instr  val1  val2
2000-01-08    3     D    17    96
8 4             idx instr  val1  val2
2000-01-08    4     E    62    25
9             idx instr  val1  val2
2000-01-09    0     A    59    29
2000-01-09    1     B    97     0
2000-01-09    2     C    84    42
2000-01-09    3     D    80     9
2000-01-09    4     E    52    18
9 0             idx instr  val1  val2
2000-01-09    0     A    59    29
9 1             idx instr  val1  val2
2000-01-09    1     B    97     0
9 2             idx instr  val1  val2
2000-01-09    2     C    84    42
9 3             idx instr  val1  val2
2000-01-09    3     D    80     9
9 4             idx instr  val1  val2
2000-01-09    4     E    52    18
10             idx instr  val1  val2
2000-01-10    0     A    21    58
2000-01-10    1     B    68    40
2000-01-10    2     C    29     1
2000-01-10    3     D    95    28
2000-01-10    4     E    78    12
10 0             idx instr  val1  val2
2000-01-10    0     A    21    58
10 1             idx instr  val1  val2
2000-01-10    1     B    68    40
10 2             idx instr  val1  val2
2000-01-10    2     C    29     1
10 3             idx instr  val1  val2
2000-01-10    3     D    95    28
10 4             idx instr  val1  val2
2000-01-10    4     E    78    12
11             idx instr  val1  val2
2000-01-11    0     A    68    23
2000-01-11    1     B    59     2
2000-01-11    2     C    29     6
2000-01-11    3     D    64    30
2000-01-11    4     E    59     9
11 0             idx instr  val1  val2
2000-01-11    0     A    68    23
11 1             idx instr  val1  val2
2000-01-11    1     B    59     2
11 2             idx instr  val1  val2
2000-01-11    2     C    29     6
11 3             idx instr  val1  val2
2000-01-11    3     D    64    30
11 4             idx instr  val1  val2
2000-01-11    4     E    59     9
12             idx instr  val1  val2
2000-01-12    0     A    55     5
2000-01-12    1     B    91    81
2000-01-12    2     C    45    18
2000-01-12    3     D    42    38
2000-01-12    4     E    48    17
12 0             idx instr  val1  val2
2000-01-12    0     A    55     5
12 1             idx instr  val1  val2
2000-01-12    1     B    91    81
12 2             idx instr  val1  val2
2000-01-12    2     C    45    18
12 3             idx instr  val1  val2
2000-01-12    3     D    42    38
12 4             idx instr  val1  val2
2000-01-12    4     E    48    17
13             idx instr  val1  val2
2000-01-13    0     A    16    86
2000-01-13    1     B    98    32
2000-01-13    2     C    79    57
2000-01-13    3     D    44    38
2000-01-13    4     E    50    70
13 0             idx instr  val1  val2
2000-01-13    0     A    16    86
13 1             idx instr  val1  val2
2000-01-13    1     B    98    32
13 2             idx instr  val1  val2
2000-01-13    2     C    79    57
13 3             idx instr  val1  val2
2000-01-13    3     D    44    38
13 4             idx instr  val1  val2
2000-01-13    4     E    50    70
14             idx instr  val1  val2
2000-01-14    0     A    28    95
2000-01-14    1     B    27    37
2000-01-14    2     C    62    83
2000-01-14    3     D    43    98
2000-01-14    4     E    66    34
14 0             idx instr  val1  val2
2000-01-14    0     A    28    95
14 1             idx instr  val1  val2
2000-01-14    1     B    27    37
14 2             idx instr  val1  val2
2000-01-14    2     C    62    83
14 3             idx instr  val1  val2
2000-01-14    3     D    43    98
14 4             idx instr  val1  val2
2000-01-14    4     E    66    34
15             idx instr  val1  val2
2000-01-15    0     A    85    62
2000-01-15    1     B    69    66
2000-01-15    2     C    15    91
2000-01-15    3     D    37    53
2000-01-15    4     E     3    26
15 0             idx instr  val1  val2
2000-01-15    0     A    85    62
15 1             idx instr  val1  val2
2000-01-15    1     B    69    66
15 2             idx instr  val1  val2
2000-01-15    2     C    15    91
15 3             idx instr  val1  val2
2000-01-15    3     D    37    53
15 4             idx instr  val1  val2
2000-01-15    4     E     3    26

In [33]:
import pyarrow.dataset as ds

import numpy as np

In [ ]:
# How to merge PQ files

# We can filter by year, month, stock and then all save in the same dir

In [85]:
partitioning =

SyntaxError: invalid syntax (<ipython-input-85-fa88cdbe1cc4>, line 1)

In [87]:
df.schema

AttributeError: 'DataFrame' object has no attribute 'schema'