In [25]:
import pandas as pd

import vendors2.kibot.data.load.futures_forward_contracts as ffc
import vendors2.kibot.metadata.load.kibot_metadata as kmd
import vendors2.kibot.metadata.load.expiry_contract_mapper as ecm
import vendors2.kibot.data.load.s3_data_loader as vkdls3

In [2]:
lfc_hc = kmd.KibotHardcodedContractLifetimeComputer(365, 7)

lfc_hc.compute_lifetime("CLJ17")

ContractLifetime(start_date=Timestamp('2016-03-22 00:00:00'), end_date=Timestamp('2017-03-15 00:00:00'))

In [3]:
lfc_ta = kmd.KibotTradingActivityContractLifetimeComputer()

lfc_ta.compute_lifetime("CLJ17")

ContractLifetime(start_date=Timestamp('2011-11-18 00:00:00'), end_date=Timestamp('2017-03-21 00:00:00'))

In [ ]:
##

In [7]:
symbols = ["ES", "CL"]
file = "../contracts.csv"


fcl = kmd.FuturesContractLifetimes(file, lfc_hc)

In [8]:
fcl.save(["CL"])

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [9]:
cl_data = fcl.load(["CL"])

In [11]:
cl_data["CL"].head()

  symbol contract start_date   end_date
0     CL    CLX09 2008-10-21 2009-10-14
1     CL    CLZ09 2008-11-20 2009-11-13
2     CL    CLF10 2008-12-22 2009-12-15
3     CL    CLG10 2009-01-20 2010-01-13
4     CL    CLH10 2009-02-22 2010-02-15

In [14]:
fcem = kmd.FuturesContractExpiryMapper(cl_data)

In [15]:
fcem.get_nth_contract("CL", "2010-01-01", 1)

'CLG10'

In [33]:
srs = fcem.get_nth_contracts("CL", "2010-01-10", "2010-01-20", freq="B", n=1)

In [34]:
srs

2010-01-11    CLG10
2010-01-12    CLG10
2010-01-13    CLG10
2010-01-14    CLH10
2010-01-15    CLH10
2010-01-18    CLH10
2010-01-19    CLH10
2010-01-20    CLH10
Freq: B, Name: CL1, dtype: object

In [27]:
kdl = vkdls3.S3KibotDataLoader()

In [28]:
ffc_obj = ffc.FuturesForwardContracts(kdl)

In [35]:
ffc_obj._replace_contracts_with_data(srs)

             open   high    low  close       vol
2010-01-11  82.88  83.95  81.96  82.52  296304.0
2010-01-12  82.07  82.34  79.91  80.79  333866.0
2010-01-13  80.06  80.67  78.37  79.65  401627.0
2010-01-14  79.97  80.75  79.32  79.88  197449.0
2010-01-15  79.73  79.75  78.09  78.37  190088.0
2010-01-18    NaN    NaN    NaN    NaN       NaN
2010-01-19  78.21  79.47  77.06  79.32  351108.0
2010-01-20  79.17  79.36  77.13  77.74  303758.0