In [2]:
import os

import pandas as pd

In [6]:
!ls ../log_2021_03_11

exchanges.csv scrapy.log    symbols.csv

In [24]:
dir_name = "../log_2021_03_11"

file_name = os.path.join(dir_name, "symbols.csv")
symbols = pd.read_csv(file_name, sep="\t")

symbols.head()

,market,product,s_title,ib_symbol,symbol,currency
0,Mexican Stock Exchange (MEXI),Options,EUR/USD 1-month Realized Volatility Index,16E,16E,USD
1,Mexican Stock Exchange (MEXI),Options,EUR/USD 3-month Realized Volatility Index,36E,36E,USD
2,Mexican Stock Exchange (MEXI),Options,Australian Dollar / Canadian Dollar Cross Rate,ACD,ACD,CAD
3,Mexican Stock Exchange (MEXI),Options,Australian Dollar / Japanese Yen Cross Rate,AJY,AJY,JPY
4,Mexican Stock Exchange (MEXI),Options,Australian Dollar / New Zealand Dollar Cross Rate,ANE,ANE,NZD

In [26]:
file_name = os.path.join(dir_name, "exchanges.csv")
exchanges = pd.read_csv(file_name, sep="\t")

exchanges.head()

,region,country,market,link,products,hours
0,North America,Mexico,Mexican Stock Exchange (MEXI),http://absoluteadvisers.com,"ETFs,Stocks",Monday - Friday: 8:30-15:00
1,Asia/Pacific,South Korea,Korea Stock Exchange (KSE),http://eng.krx.co.kr/,"Futures (Equity Index, Single Stock),Indices,O...",Monday - Friday: 9:00-15:45
2,Europe,United Kingdom,LSE International Order Book (LSEIOB1),http://www.borsaitalia.it,Stocks,Monday - Friday: 10:00-17:40
3,Global,,IDEALPRO Metals,NaN,Metals,Sunday - Friday: 18:00 - 17:00 ET

In [27]:
markets = symbols["market"].unique()
print("\n".join(markets))

Mexican Stock Exchange (MEXI)
Korea Stock Exchange (KSE)
LSE International Order Book (LSEIOB1)
SMexican Stock Exchange (MEXI)

In [28]:
grouped = symbols.groupby("market")

grouped[["product"]].count()

                                        product
market
Korea Stock Exchange (KSE)                27203
LSE International Order Book (LSEIOB1)    55483
Mexican Stock Exchange (MEXI)            253217
SMexican Stock Exchange (MEXI)                1

In [23]:
idx = 3
print("market=", markets[idx])
mask = df["market"] == markets[idx]
symbols_tmp = symbols[mask]

grouped = symbols_tmp.groupby("product")

grouped[["product"]].count()

market= SMexican Stock Exchange (MEXI)

         product
product
ETFs           1